<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sir.go.model.job.persistence.dao.JQuestionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sir.go.model.job.persistence.entity.JQuestion">
		<id column="id" property="id" />
		<result column="question_title" property="questionTitle" />
		<result column="factor_id" property="factorId" />
		<result column="belong_id" property="belongId" />
		<result column="sort" property="sort" />
		<result column="Element_ID" property="ElementID" />
	</resultMap>

</mapper>
