<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sir.go.model.colleges.persistence.dao.ColSchoolMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sir.go.model.colleges.persistence.entity.ColSchool">
		<id column="id" property="id" />
		<result column="college_name" property="collegeName" />
		<result column="en_name" property="enName" />
		<result column="Cocs" property="Cocs" />
		<result column="Coc" property="Coc" />
		<result column="affiliated" property="affiliated" />
		<result column="location" property="location" />
		<result column="edu_level" property="eduLevel" />
		<result column="area" property="area" />
		<result column="college_site" property="collegeSite" />
		<result column="website" property="website" />
		<result column="college_term" property="collegeTerm" />
		<result column="type" property="type" />
		<result column="col_type" property="colType" />
		<result column="college_address" property="collegeAddress" />
		<result column="description" property="description" />
		<result column="enable" property="enable" />
	</resultMap>

</mapper>
