<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sir.go.model.ac.persistence.dao.AcDetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sir.go.model.ac.persistence.entity.AcDetail">
		<id column="id" property="id" />
		<result column="Coc" property="Coc" />
		<result column="college_name" property="collegeName" />
		<result column="college_level" property="collegeLevel" />
		<result column="major_class" property="majorClass" />
		<result column="major" property="major" />
		<result column="Moc" property="Moc" />
		<result column="parent_moc" property="parentMoc" />
		<result column="subject" property="subject" />
		<result column="top" property="top" />
		<result column="category" property="category" />
	</resultMap>

</mapper>
